body {
  background-color: #2e2b43;
  color: rgba(255,255,255,0.8);
  padding: 15px;
}

.business-table {
  background-color: #f5f5f5;
  color: #333333;
  border-radius: 5px;
  margin: 15px 0;
}

.business-row {
  border-bottom: 1px solid #ededed;
}

.business-row:last-child {
  border-bottom: none;
}

.business-table td {
  padding: 5px;
}

.business-row > td:first-child {
  text-align: center;
}

.label {
  display: inline-block;
  width: 80px;
  font-size: 90%;
  text-align: right;
}
